.crdimg{
    height: 20px;
    width: 20px;
}
.contactimg{
    height: 100px;
    width: 100px;
}
.contactdetailimg{
    height: 150px;
    width: 150px;
}
.crd{
    height: 200px;
    width: 500px;
  }